#dynode-demo-parent {
  height: 500px;
  width: 900px;
  background-color: grey;
  position: relative;
}

#dynode-demo {
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: absolute;
}

.dynode {
    cursor: move;
}

.dynode.top, .dynode.bottom {
  cursor: ns-resize;
}

.dynode.left, .dynode.right {
  cursor: ew-resize;
}

.dynode.top-left, .dynode.bottom-right {
  cursor: nwse-resize;
}

.dynode.top-right, .dynode.bottom-left {
  cursor: nesw-resize;
}