.dynode-parent {
  position: relative;
}

.dynode {
  position: absolute;
}

.dynode.hide-cursor {
  cursor: default !important;
}

.dynode.center {
  cursor: move;
}

.dynode.top, .dynode.bottom {
  cursor: ns-resize;
}

.dynode.left, .dynode.right {
  cursor: ew-resize;
}

.dynode.top-left, .dynode.bottom-right {
  cursor: nwse-resize;
}

.dynode.top-right, .dynode.bottom-left {
  cursor: nesw-resize;
}